modules = ["nodejs-20"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "RDX Bot Server"

[[workflows.workflow]]
name = "RDX Bot Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd RDX-0.5-main && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
